.main {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.main h1 {
  margin-top: -50px;
}

.main a:hover {
  color: rgb(168, 168, 168);
}

.widthFull {
  width: 100%;
}
